In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'c:\\Users\\user\\빅데이터_3차프젝'

In [3]:
test_fund = pd.read_csv("./data/12.금융상품정보/은행수신상품.csv", usecols=lambda c: c != "Unnamed: 0")
test_bank = pd.read_csv("./data/12.금융상품정보/공모펀드상품.csv", usecols=lambda c: c != "Unnamed: 0")
fund = pd.read_csv("./샘플링데이터/12.금융상품정보_sample/공모펀드상품_sample100.csv", usecols=lambda c: c != "Unnamed: 0")
bank = pd.read_csv("./샘플링데이터/12.금융상품정보_sample/은행수신상품_sample100.csv", usecols=lambda c: c != "Unnamed: 0")

In [4]:
company_202108 = pd.read_csv("./샘플링데이터/10.기업 CB정보_sample/202108_기업CB_sample100.csv", usecols=lambda c: c != "Unnamed: 0")
test_df = pd.read_csv("./data/10.기업 CB정보/202108_기업CB.csv", usecols=lambda c: c != "Unnamed: 0")

In [5]:
company_202108.head()

,BS_DT,ID,SIC_CD_3,WG_GB,FNDT_DT,EMPE_CNT,CT_CNTY_GU_CD,LISTD_DT,LISTD_ABOL_DT,FN1_1,...,D2B000001,D2B000005,D2B000012,D2B000012_1,D2B000012_2,D2B000012_3,D2B000002,D2B000003,CORP_GRAD,PERF_12M
0,20210801,125539,D35,1,19610624,23534,11680.0,19890205.0,NaN,18824052701,...,0,0,0,0,0,0,999999999,999999999,4,0
1,20210801,13475,D35,1,19610816,23904,11680.0,19890727.0,NaN,18567715519,...,0,0,0,0,0,0,999999999,999999999,4,0
2,20210801,149275,C30,1,19660923,72689,11650.0,19731123.0,NaN,47263779547,...,0,0,0,0,0,0,999999999,999999999,2,0
3,20210801,21529,D35,1,20010730,12716,47130.0,NaN,NaN,14976938599,...,0,0,0,0,0,0,999999999,999999999,4,0
4,20210801,9787,C24,1,19670919,220,NaN,19880628.0,NaN,49980255825,...,0,0,0,0,0,0,999999999,999999999,2,0

In [6]:
len(company_202108.columns)

160

In [7]:
use_cols = [
    # 식별/범주형
    "BS_DT", "ID", "SIC_CD_3", "WG_GB", "FNDT_DT", "LISTD_DT", "LISTD_ABOL_DT","CT_CNTY_GU_CD",

    # 재무제표
    "FN1_1","FN1_2","FN1_3","FN1_4","FN1_5","FN1_7","FN1_8","FN1_13","FN1_14","FN1_15","FN1_16",
    "FN1_19","FN1_21","FN1_22","FN1_24",

    # 손익계산서
    "FN2_1","FN2_1_1","FN2_2","FN2_2_1","FN2_3","FN2_3_1","FN2_3_2",

    # 타깃
    "CORP_GRAD"
]

In [8]:
rename_map = {
    # ─ 식별 및 기본 정보
    "BS_DT": "기준년월",
    "ID": "가명식별자",
    "SIC_CD_3": "업종(중분류)",
    "WG_GB": "외감구분",
    "FNDT_DT": "설립일자",
    "LISTD_DT": "상장일자",
    "LISTD_ABOL_DT": "상장폐지일자",
    "CT_CNTY_GU_CD" : "주소지시군구",


    # ─ 재무제표(자산/부채/자본)
    "FN1_1": "유동자산",
    "FN1_2": "비유동자산",
    "FN1_3": "당좌자산",
    "FN1_4": "재고자산",
    "FN1_5": "유형자산",
    "FN1_7": "현금",
    "FN1_8": "현금등가물",
    "FN1_13": "자산총계",
    "FN1_14": "유동부채",
    "FN1_15": "단기차입금",
    "FN1_16": "차입금",
    "FN1_19": "부채총계",
    "FN1_21": "자본잉여금",
    "FN1_22": "이익잉여금",
    "FN1_24": "자본총계",

    # ─ 손익계산서(매출/이익)
    "FN2_1": "매출액",
    "FN2_1_1": "전기매출액",
    "FN2_2": "매출원가",
    "FN2_2_1": "매출총이익",
    "FN2_3": "판매비와관리비",
    "FN2_3_1": "법인세비용차감전 순이익",
    "FN2_3_2": "전기법인세차감전순이익",

    # ─ 타깃 변수
    "CORP_GRAD": "신용등급",
}

In [9]:
company_202108_selected = company_202108[use_cols]
test_df_selected = test_df[use_cols]

In [10]:
company_202108['LISTD_ABOL_DT']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
95   NaN
96   NaN
97   NaN
98   NaN
99   NaN
Name: LISTD_ABOL_DT, Length: 100, dtype: float64

In [11]:
company_202108_selected.rename(columns=rename_map, inplace=True)
test_df_selected.rename(columns=rename_map, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_14848\2221272635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_202108_selected.rename(columns=rename_map, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_14848\2221272635.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df_selected.rename(columns=rename_map, inplace=True)

In [12]:
company_202108_selected.columns

Index(['기준년월', '가명식별자', '업종(중분류)', '외감구분', '설립일자', '상장일자', '상장폐지일자', '주소지시군구',
       '유동자산', '비유동자산', '당좌자산', '재고자산', '유형자산', '현금', '현금등가물', '자산총계', '유동부채',
       '단기차입금', '차입금', '부채총계', '자본잉여금', '이익잉여금', '자본총계', '매출액', '전기매출액',
       '매출원가', '매출총이익', '판매비와관리비', '법인세비용차감전 순이익', '전기법인세차감전순이익', '신용등급'],
      dtype='object')

In [13]:
len(company_202108_selected.columns)

31

In [14]:
company_202108_selected

,기준년월,가명식별자,업종(중분류),외감구분,설립일자,상장일자,상장폐지일자,주소지시군구,유동자산,비유동자산,...,이익잉여금,자본총계,매출액,전기매출액,매출원가,매출총이익,판매비와관리비,법인세비용차감전 순이익,전기법인세차감전순이익,신용등급
0,20210801,125539,D35,1,19610624,19890205.0,NaN,11680.0,18824052701,219366858158,...,74467569058,109783962931,119321200000,115978820000,136374648459,-17053448459,3978927612,-21032376071,5570290000,4
1,20210801,13475,D35,1,19610816,19890727.0,NaN,11680.0,18567715519,202170306831,...,72330551595,108230308890,115978820000,117790858400,109361518096,6617301904,3756595687,2860706217,2046134000,4
2,20210801,149275,C30,1,19660923,19731123.0,NaN,11650.0,47263779547,109085622838,...,93303092248,100629509756,111210240000,101652891120,82014748000,29195492000,16808976000,12386516000,3830791210,2
3,20210801,21529,D35,1,20010730,NaN,NaN,47130.0,14976938599,112647498908,...,31449468300,53560973438,18648782393,19879395376,16619050092,2029732301,431587229,1598145072,46459831,4
4,20210801,9787,C24,1,19670919,19880628.0,NaN,NaN,49980255825,76596628187,...,97452703010,95926668147,79840401673,53176889023,64272876982,15567524691,2205847550,13361677141,2287353977,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20210801,59418,C10,1,19641110,19751226.0,NaN,11590.0,1480695542,3556361101,...,4065875370,4218751492,4209814398,3811388098,3106479048,1103335350,931057599,172277751,10671425,1
96,20210801,115473,C15,1,19510804,19671210.0,NaN,11590.0,2230192185,2766619949,...,1158758890,1518068989,3722329924,2906190768,2465471577,1256858347,176923703,1079934644,1383586402,2
97,20210801,20534,D35,1,19951115,NaN,NaN,44270.0,1311688898,3661840785,...,1527506065,1991331904,2437877055,2236598938,2057703611,380173444,49629546,330543898,-72125178,4
98,20210801,148511,F41,1,19940411,NaN,NaN,29170.0,1899578311,3039915772,...,3305760892,1132073989,2192097297,2077522542,1863453996,328643301,261916009,66727292,443295718,3
99,20210801,1022,J62,1,19990107,NaN,NaN,11500.0,2544261492,2310206863,...,2162963939,2511523351,6409519893,3966699444,5251771315,1157748578,677962192,479786386,115265990,2

### 선택된 컬럼들(30개) 의미, 사용 이유

In [15]:
"""
<기본 정보 및 식별자>
기준년월 : 데이터 기준 시점 (재무정보가 어느 시점 기준인지 나타냄)
           → 시계열/스냅샷 모델링 시 분리 기준으로 사용.

가명식별자 : 기업을 식별하기 위한 익명화된 고유 ID
           → 다른 시트(상품, 성과 등)와 조인용 key로 사용.

업종(중분류) : 산업분류 코드 (예: C35 제조업, J62 IT업 등)
           → 업종별 부실률, 수익성, 성장성 차이를 반영.

외감구분 : 외부감사 여부 (1=외감, 2=비외감)
           → 재무공시의 신뢰도, 투명성 판단 기준으로 사용.

<연혁 정보>
설립일자 : 기업 설립일 (YYYYMMDD)
           → '기준년월'과의 차이로 ‘설립연수’ 계산 → 기업 나이 지표.

상장일자 : 증권거래소 상장일
           → 상장기업 여부 및 상장기간(상장연수) 계산.

상장폐지일자 : 상장폐지된 날짜 (없으면 NaN)
           → 상장폐지 여부(1/0)로 파생 → 부실·리스크 신호 가능.

"""

"\n<기본 정보 및 식별자>\n기준년월 : 데이터 기준 시점 (재무정보가 어느 시점 기준인지 나타냄)\n           → 시계열/스냅샷 모델링 시 분리 기준으로 사용.\n\n가명식별자 : 기업을 식별하기 위한 익명화된 고유 ID\n           → 다른 시트(상품, 성과 등)와 조인용 key로 사용.\n\n업종(중분류) : 산업분류 코드 (예: C35 제조업, J62 IT업 등)\n           → 업종별 부실률, 수익성, 성장성 차이를 반영.\n\n외감구분 : 외부감사 여부 (1=외감, 2=비외감)\n           → 재무공시의 신뢰도, 투명성 판단 기준으로 사용.\n\n<연혁 정보>\n설립일자 : 기업 설립일 (YYYYMMDD)\n           → '기준년월'과의 차이로 ‘설립연수’ 계산 → 기업 나이 지표.\n\n상장일자 : 증권거래소 상장일\n           → 상장기업 여부 및 상장기간(상장연수) 계산.\n\n상장폐지일자 : 상장폐지된 날짜 (없으면 NaN)\n           → 상장폐지 여부(1/0)로 파생 → 부실·리스크 신호 가능.\n\n"

In [16]:
"""<자산 관련 지표>
유동자산 : 1년 이내 현금화 가능한 자산 (현금, 매출채권, 재고 등)
           → 유동비율(유동자산/유동부채) 계산의 핵심 항목.

비유동자산 : 장기 보유 자산 (건물, 설비 등)
           → 고정비율(비유동자산/자본총계) 등 안정성 지표 파생.

당좌자산 : 재고자산을 제외한 즉시 현금화 가능한 자산
           → 당좌비율((당좌자산+현금등가물)/유동부채) 계산용.

재고자산 : 원재료, 제품 등 재고 상태의 자산
           → 재고회전율, 재고자산비율 등 활동성 지표 파생 가능.

유형자산 : 건물, 기계장치 등 실물자산
           → 자본적 지출 비중, 투자규모 등 안정성 분석에 사용.

현금 : 기업이 보유한 현금성 자산
           → 현금비율((현금+현금등가물)/유동부채) 계산.

현금등가물 : 3개월 이내 현금 전환 가능한 단기금융상품
           → 현금과 함께 유동성 평가 핵심지표.
"""

'<자산 관련 지표>\n유동자산 : 1년 이내 현금화 가능한 자산 (현금, 매출채권, 재고 등)\n           → 유동비율(유동자산/유동부채) 계산의 핵심 항목.\n\n비유동자산 : 장기 보유 자산 (건물, 설비 등)\n           → 고정비율(비유동자산/자본총계) 등 안정성 지표 파생.\n\n당좌자산 : 재고자산을 제외한 즉시 현금화 가능한 자산\n           → 당좌비율((당좌자산+현금등가물)/유동부채) 계산용.\n\n재고자산 : 원재료, 제품 등 재고 상태의 자산\n           → 재고회전율, 재고자산비율 등 활동성 지표 파생 가능.\n\n유형자산 : 건물, 기계장치 등 실물자산\n           → 자본적 지출 비중, 투자규모 등 안정성 분석에 사용.\n\n현금 : 기업이 보유한 현금성 자산\n           → 현금비율((현금+현금등가물)/유동부채) 계산.\n\n현금등가물 : 3개월 이내 현금 전환 가능한 단기금융상품\n           → 현금과 함께 유동성 평가 핵심지표.\n'

In [17]:
"""
<재무 구조>
자산총계 : 유동자산 + 비유동자산
           → 총규모 판단 및 분모로 활용(ROA, 부채비율 등).

유동부채 : 1년 내 상환해야 할 부채
           → 유동비율(유동자산/유동부채) 계산의 분모.

단기차입금 : 단기성 외부 차입금
           → 단기차입금비율(단기차입금/차입금) 파생.

차입금 : 총 차입금 (단기+장기)
           → 차입금의존도(차입금/자산총계) 파생.

부채총계 : 모든 부채(유동+비유동)
           → 부채비율(부채총계/자본총계), 자기자본비율 등 핵심비율 계산.

자본잉여금 : 납입자본금 초과분 (유상증자 등)
           → 재무구조 안정성 반영.

이익잉여금 : 누적 이익 중 유보된 금액
           → 내부유보금 → 재무건전성 및 장기 안정성 판단.

자본총계 : 자본잉여금 + 이익잉여금 등 포함
           → 부채비율, ROE 등 재무비율의 분모.

"""

'\n<재무 구조>\n자산총계 : 유동자산 + 비유동자산\n           → 총규모 판단 및 분모로 활용(ROA, 부채비율 등).\n\n유동부채 : 1년 내 상환해야 할 부채\n           → 유동비율(유동자산/유동부채) 계산의 분모.\n\n단기차입금 : 단기성 외부 차입금\n           → 단기차입금비율(단기차입금/차입금) 파생.\n\n차입금 : 총 차입금 (단기+장기)\n           → 차입금의존도(차입금/자산총계) 파생.\n\n부채총계 : 모든 부채(유동+비유동)\n           → 부채비율(부채총계/자본총계), 자기자본비율 등 핵심비율 계산.\n\n자본잉여금 : 납입자본금 초과분 (유상증자 등)\n           → 재무구조 안정성 반영.\n\n이익잉여금 : 누적 이익 중 유보된 금액\n           → 내부유보금 → 재무건전성 및 장기 안정성 판단.\n\n자본총계 : 자본잉여금 + 이익잉여금 등 포함\n           → 부채비율, ROE 등 재무비율의 분모.\n\n'

In [18]:
"""
<손익 구조>
매출액 : 상품·서비스 매출의 총합
           → 기업 규모 및 성장성 대표지표.

전기매출액 : 직전 회계연도의 매출액
           → 매출성장률((매출액-전기매출액)/전기매출액) 계산.

매출원가 : 매출을 올리기 위한 직접 비용
           → 매출총이익(매출액-매출원가) 계산.

매출총이익 : 매출액 - 매출원가
           → 매출총이익률(매출총이익/매출액) 파생.

판매비와관리비 : 인건비·광고비 등 영업비용
           → 영업이익률((매출총이익-판관비)/매출액) 계산.

법인세비용차감전 순이익 : 법인세 차감 전 최종 이익
           → 순이익률, ROA, ROE 등 수익성 핵심 지표.

전기법인세차감전순이익 : 전기 대비 이익 변화 계산용
           → 이익성장률((당기-전기)/전기) 파생.

<신용 등급[목표 변수]>
신용등급 : 기업CB가 산정한 신용등급 (예: AAA, A, BBB, B 등)
           → 타깃 변수(y)로 사용 (부실 예측·등급 분류).

"""

'\n<손익 구조>\n매출액 : 상품·서비스 매출의 총합\n           → 기업 규모 및 성장성 대표지표.\n\n전기매출액 : 직전 회계연도의 매출액\n           → 매출성장률((매출액-전기매출액)/전기매출액) 계산.\n\n매출원가 : 매출을 올리기 위한 직접 비용\n           → 매출총이익(매출액-매출원가) 계산.\n\n매출총이익 : 매출액 - 매출원가\n           → 매출총이익률(매출총이익/매출액) 파생.\n\n판매비와관리비 : 인건비·광고비 등 영업비용\n           → 영업이익률((매출총이익-판관비)/매출액) 계산.\n\n법인세비용차감전 순이익 : 법인세 차감 전 최종 이익\n           → 순이익률, ROA, ROE 등 수익성 핵심 지표.\n\n전기법인세차감전순이익 : 전기 대비 이익 변화 계산용\n           → 이익성장률((당기-전기)/전기) 파생.\n\n<신용 등급[목표 변수]>\n신용등급 : 기업CB가 산정한 신용등급 (예: AAA, A, BBB, B 등)\n           → 타깃 변수(y)로 사용 (부실 예측·등급 분류).\n\n'

In [19]:
company_202108_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   기준년월          100 non-null    int64
 1   가명식별자         100 non-null    int64
 2   업종(중분류)       100 non-null    object
 3   외감구분          100 non-null    int64
 4   설립일자          100 non-null    int64
 5   상장일자          72 non-null     float64
 6   상장폐지일자        0 non-null      float64
 7   주소지시군구        92 non-null     float64
 8   유동자산          100 non-null    int64
 9   비유동자산         100 non-null    int64
 10  당좌자산          100 non-null    int64
 11  재고자산          100 non-null    int64
 12  유형자산          100 non-null    int64
 13  현금            100 non-null    int64
 14  현금등가물         100 non-null    int64
 15  자산총계          100 non-null    int64
 16  유동부채          100 non-null    int64
 17  단기차입금         100 non-null    int64
 18  차입금           100 non-null    int64
 19  부채총계          100 non-null    int64
 20  자본잉여금         100 non-null    int64
 21  이익잉여금         100 non-null    int64
 22  자본총계          100 non-null    int64
 23  매출액           100 non-null    int64
 24  전기매출액         100 non-null    int64
 25  매출원가          100 non-null    int64
 26  매출총이익         100 non-null    int64
 27  판매비와관리비       100 non-null    int64
 28  법인세비용차감전 순이익  100 non-null    int64
 29  전기법인세차감전순이익   100 non-null    int64
 30  신용등급          100 non-null    int64
dtypes: float64(3), int64(27), object(1)
memory usage: 24.3+ KB

### 선정 컬럼 결측치 처리

In [20]:
import pandas as pd
import numpy as np

def fill_missing_values_separate(df, num_features_zero=[], num_features_median=[], cat_features=[]):
    """
    원본 df를 복사하여 결측치 처리 후, 
    결측치 여부(_was_null, _missing)는 별도 DataFrame으로 분리하여 반환.
    
    Returns
    -------
    df_filled : 결측치 처리 완료된 DataFrame
    df_missing_flags : 결측치 여부 컬럼만 따로 모은 DataFrame
    """

    df = df.copy()
    missing_flags = pd.DataFrame(index=df.index)

    # 의미 있는 0 처리
    for col in num_features_zero:
        if col in df.columns:
            flag_col = f"{col}_was_null"
            missing_flags[flag_col] = df[col].isna().astype(int)
            df[col] = df[col].fillna(0)

    # 중앙값 처리
    for col in num_features_median:
        if col in df.columns:
            flag_col = f"{col}_was_null"
            missing_flags[flag_col] = df[col].isna().astype(int)
            median_val = df[col].median()
            df[col] = df[col].fillna(median_val)

    # 범주형 처리
    for col in cat_features:
        if col in df.columns:
            flag_col = f"{col}_missing"
            missing_flags[flag_col] = df[col].isna().astype(int)
            df[col] = df[col].fillna("Unknown")

    # 반환
    return df, missing_flags

In [21]:
num_features_zero = [
    # 재무제표 중 “값이 없으면 실제 0일 가능성이 큰 항목”
    "현금", "현금등가물", "당좌자산", "재고자산", "유형자산",
    "단기차입금", "차입금", "자본잉여금", "이익잉여금",
    "매출액", "전기매출액", "매출원가", "매출총이익", 
    "판매비와관리비", "법인세비용차감전 순이익", "전기법인세차감전순이익"
]

num_features_median = [
    # 자산/부채/자본 주요 항목
    "유동자산", "비유동자산", "자산총계",
    "유동부채", "부채총계", "자본총계",

    # 날짜형은 중앙값 처리 대신 그대로 둠 (결측 가능)
    "설립일자", "상장일자", "상장폐지일자",

    # 시점 기준
    "기준년월"
]

cat_features = ["업종(중분류)", "외감구분"]

company_202108_filled, company_2021_missing = fill_missing_values_separate(
    df=company_202108_selected,
    num_features_zero=num_features_zero,
    num_features_median=num_features_median,
    cat_features=cat_features
)

test_df_filled, test_df_missing = fill_missing_values_separate(
    df=test_df_selected,
    num_features_zero=num_features_zero,
    num_features_median=num_features_median,
    cat_features=cat_features
)
test_df_selected

c:\Users\user\anaconda3\envs\busan_ai\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

,기준년월,가명식별자,업종(중분류),외감구분,설립일자,상장일자,상장폐지일자,주소지시군구,유동자산,비유동자산,...,이익잉여금,자본총계,매출액,전기매출액,매출원가,매출총이익,판매비와관리비,법인세비용차감전 순이익,전기법인세차감전순이익,신용등급
0,20210801,125539,D35,1,19610624,19890205.0,NaN,11680.0,18824052701,219366858158,...,74467569058,109783962931,119321200000,115978820000,136374648459,-17053448459,3978927612,-21032376071,5570290000,4
1,20210801,13475,D35,1,19610816,19890727.0,NaN,11680.0,18567715519,202170306831,...,72330551595,108230308890,115978820000,117790858400,109361518096,6617301904,3756595687,2860706217,2046134000,4
2,20210801,149275,C30,1,19660923,19731123.0,NaN,11650.0,47263779547,109085622838,...,93303092248,100629509756,111210240000,101652891120,82014748000,29195492000,16808976000,12386516000,3830791210,2
3,20210801,21529,D35,1,20010730,NaN,NaN,47130.0,14976938599,112647498908,...,31449468300,53560973438,18648782393,19879395376,16619050092,2029732301,431587229,1598145072,46459831,4
4,20210801,9787,C24,1,19670919,19880628.0,NaN,NaN,49980255825,76596628187,...,97452703010,95926668147,79840401673,53176889023,64272876982,15567524691,2205847550,13361677141,2287353977,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,20210801,11134,G46,2,20181204,NaN,NaN,41135.0,-46175,41150,...,-25649,47351,530091,457849,478183,51908,94892,-42984,-373754,7
149996,20210801,114892,N75,2,20200219,NaN,NaN,46130.0,2681,-9435,...,-77178,-63178,19618,89416,17270,2348,21848,-19500,158139,4
149997,20210801,77018,L68,1,20020922,NaN,NaN,NaN,46854296,-98797329,...,-439483568,-438959568,2885300,608868211,0,2885300,3166227,-280927,-2102151,6
149998,20210801,27640,L68,1,20170206,NaN,NaN,11215.0,36067348,-101019284,...,-14847478,-14798478,5436057,5163486,3817804,1618253,3234629,-1616376,463379,7
149999,20210801,4219,M70,1,19170220,19770712.0,NaN,48123.0,31897909,-127606090,...,-169703441,41301055,9215066,8309708,6680272,2534794,1585370,949424,849067,7

In [22]:
company_202108_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   기준년월          100 non-null    int64
 1   가명식별자         100 non-null    int64
 2   업종(중분류)       100 non-null    object
 3   외감구분          100 non-null    int64
 4   설립일자          100 non-null    int64
 5   상장일자          100 non-null    float64
 6   상장폐지일자        0 non-null      float64
 7   주소지시군구        92 non-null     float64
 8   유동자산          100 non-null    int64
 9   비유동자산         100 non-null    int64
 10  당좌자산          100 non-null    int64
 11  재고자산          100 non-null    int64
 12  유형자산          100 non-null    int64
 13  현금            100 non-null    int64
 14  현금등가물         100 non-null    int64
 15  자산총계          100 non-null    int64
 16  유동부채          100 non-null    int64
 17  단기차입금         100 non-null    int64
 18  차입금           100 non-null    int64
 19  부채총계          100 non-null    int64
 20  자본잉여금         100 non-null    int64
 21  이익잉여금         100 non-null    int64
 22  자본총계          100 non-null    int64
 23  매출액           100 non-null    int64
 24  전기매출액         100 non-null    int64
 25  매출원가          100 non-null    int64
 26  매출총이익         100 non-null    int64
 27  판매비와관리비       100 non-null    int64
 28  법인세비용차감전 순이익  100 non-null    int64
 29  전기법인세차감전순이익   100 non-null    int64
 30  신용등급          100 non-null    int64
dtypes: float64(3), int64(27), object(1)
memory usage: 24.3+ KB

In [23]:
company_2021_missing

,현금_was_null,현금등가물_was_null,당좌자산_was_null,재고자산_was_null,유형자산_was_null,단기차입금_was_null,차입금_was_null,자본잉여금_was_null,이익잉여금_was_null,매출액_was_null,...,자산총계_was_null,유동부채_was_null,부채총계_was_null,자본총계_was_null,설립일자_was_null,상장일자_was_null,상장폐지일자_was_null,기준년월_was_null,업종(중분류)_missing,외감구분_missing
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [24]:
# 각 컬럼별 value_counts를 집계
missing_summary = (
    company_2021_missing
    .apply(lambda col: col.value_counts(dropna=False))
    .fillna(0)
    .astype(int)
    .T  # 행/열 전환
)

# 비율(%)도 추가로 계산
missing_summary["결측비율(%)"] = (
    (missing_summary[1] / (missing_summary[0] + missing_summary[1]) * 100)
    .round(2)
)

# 정렬: 결측비율 높은 순
missing_summary = missing_summary.sort_values("결측비율(%)", ascending=False)

missing_summary.head(30)

                         0    1  결측비율(%)
상장폐지일자_was_null          0  100    100.0
상장일자_was_null           72   28     28.0
현금_was_null            100    0      0.0
현금등가물_was_null         100    0      0.0
업종(중분류)_missing        100    0      0.0
기준년월_was_null          100    0      0.0
설립일자_was_null          100    0      0.0
자본총계_was_null          100    0      0.0
부채총계_was_null          100    0      0.0
유동부채_was_null          100    0      0.0
자산총계_was_null          100    0      0.0
비유동자산_was_null         100    0      0.0
유동자산_was_null          100    0      0.0
전기법인세차감전순이익_was_null   100    0      0.0
법인세비용차감전 순이익_was_null  100    0      0.0
판매비와관리비_was_null       100    0      0.0
매출총이익_was_null         100    0      0.0
매출원가_was_null          100    0      0.0
전기매출액_was_null         100    0      0.0
매출액_was_null           100    0      0.0
이익잉여금_was_null         100    0      0.0
자본잉여금_was_null         100    0      0.0
차입금_was_null           100    0      0.0
단기차입금_was_null         100    0      0.0
유형자산_was_null          100    0      0.0
재고자산_was_null          100    0      0.0
당좌자산_was_null          100    0      0.0
외감구분_missing           100    0      0.0

### 파생 지표 생성

In [25]:
import pandas as pd
import numpy as np

def make_derived_features(df: pd.DataFrame) -> pd.DataFrame:
    """
    M3 기업CB 데이터를 기반으로 주요 파생지표 22개 + 결측치 자동 보정 생성.
    (1) 날짜 → 연·월·일 분해
    (2) 업종/주소 결측 처리
    (3) 재무비율 파생 생성
    (4) inf/NaN 자동 처리 (업종별 평균 후 0 대체)
    """

    df = df.copy()

    # ────────────────────────────────
    # ① 날짜형 처리 (int → 문자열 분리)
    # ────────────────────────────────
    date_cols = ["기준년월", "설립일자", "상장일자", "상장폐지일자"]
    for col in date_cols:
        s = df[col].fillna(0).astype(int).astype(str).str.zfill(8)
        df[f"{col}_년"] = s.str[:4].astype(float)
        df[f"{col}_월"] = s.str[4:6].astype(float)
        df[f"{col}_일"] = s.str[6:8].astype(float)

    # ────────────────────────────────
    # ② 상장 여부 처리
    # ────────────────────────────────
    df["상장여부"] = df["상장일자"].notnull().astype(int)
    df["상장폐지여부"] = df["상장폐지일자"].notnull().astype(int)
    df["상장일자"] = df["상장일자"].fillna(0).astype(int)
    df["상장폐지일자"] = df["상장폐지일자"].fillna(0).astype(int)

    # ────────────────────────────────
    # ③ 업종·주소 결측 처리
    # ────────────────────────────────
    if "업종(중분류)" in df.columns:
        df["업종(중분류)_missing"] = df["업종(중분류)"].isna().astype(int)
        df["업종(중분류)"] = df["업종(중분류)"].fillna("Unknown")

    if "주소지시군구" in df.columns:
        df["주소지시군구_missing"] = df["주소지시군구"].isna().astype(int)
        df["주소지시군구"] = df["주소지시군구"].fillna("Unknown")

    # ────────────────────────────────
    # ④ 기간형 파생
    # ────────────────────────────────
    df["설립연수"] = df["기준년월_년"] - df["설립일자_년"]
    df["상장연수"] = df["기준년월_년"] - df["상장일자_년"]
    df["상장연수"] = df["상장연수"].fillna(0)

    for col in date_cols:
        df[col] = df[col].fillna(0).astype(int)

    # ────────────────────────────────
    # ⑤ 재무비율 파생 생성
    # ────────────────────────────────
    df["유동비율"] = df["유동자산"]*100 / df["유동부채"]
    df["당좌비율"] = (df["당좌자산"] + df["현금등가물"])*100 / df["유동부채"]
    df["현금비율"] = (df["현금"] + df["현금등가물"])*100 / df["유동부채"]

    df["부채비율"] = df["부채총계"]*100 / df["자본총계"]
    df["자기자본비율"] = df["자본총계"]*100 / df["자산총계"]
    df["차입금의존도"] = df["차입금"]*100 / df["자산총계"]
    df["단기차입금비율"] = df["단기차입금"]*100 / df["차입금"]
    df["고정비율"] = df["비유동자산"]*100 / df["자본총계"]
    df["유보율"] = df["이익잉여금"]*100 / df["자본총계"]

    df["매출총이익률"] = df["매출총이익"]*100 / df["매출액"]
    df["영업이익률"] = (df["매출총이익"]*100 - df["판매비와관리비"]) / df["매출액"]
    df["순이익률"] = df["법인세비용차감전 순이익"]*100 / df["매출액"]
    df["ROA"] = df["법인세비용차감전 순이익"]*100 / df["자산총계"]
    df["ROE"] = df["법인세비용차감전 순이익"]*100 / df["자본총계"]

    df["매출성장률"] = (df["매출액"] - df["전기매출액"])*100 / df["전기매출액"]
    df["이익성장률"] = (df["법인세비용차감전 순이익"] - df["전기법인세차감전순이익"])*100 / df["전기법인세차감전순이익"]

    df["총자산회전율"] = df["매출액"]*100 / df["자산총계"]
    df["자본회전율"] = df["매출액"]*100 / df["자본총계"]

    # ────────────────────────────────
    # ⑥ 결측치 및 무한값 처리
    # ────────────────────────────────
    ratio_cols = [
        "유동비율", "당좌비율", "현금비율",
        "부채비율", "자기자본비율", "차입금의존도",
        "단기차입금비율", "고정비율", "유보율",
        "매출총이익률", "영업이익률", "순이익률",
        "ROA", "ROE", "총자산회전율", "자본회전율"
    ]

    # (1) inf/-inf → NaN
    df[ratio_cols] = df[ratio_cols].replace([np.inf, -np.inf], np.nan)

    # (2) 업종별 평균 대체
    if "업종(중분류)" in df.columns:
        df[ratio_cols] = (
            df.groupby("업종(중분류)")[ratio_cols]
              .transform(lambda x: x.fillna(x.mean()))
        )

    # (3) 남은 NaN → 0 (분모=0 or 데이터 누락)
    df[ratio_cols] = df[ratio_cols].fillna(0)

    return df

In [26]:
company_202108_added = make_derived_features(company_202108_filled)
test_df_added = make_derived_features(test_df_filled)

In [27]:
test_df_added.columns

Index(['기준년월', '가명식별자', '업종(중분류)', '외감구분', '설립일자', '상장일자', '상장폐지일자', '주소지시군구',
       '유동자산', '비유동자산', '당좌자산', '재고자산', '유형자산', '현금', '현금등가물', '자산총계', '유동부채',
       '단기차입금', '차입금', '부채총계', '자본잉여금', '이익잉여금', '자본총계', '매출액', '전기매출액',
       '매출원가', '매출총이익', '판매비와관리비', '법인세비용차감전 순이익', '전기법인세차감전순이익', '신용등급',
       '기준년월_년', '기준년월_월', '기준년월_일', '설립일자_년', '설립일자_월', '설립일자_일', '상장일자_년',
       '상장일자_월', '상장일자_일', '상장폐지일자_년', '상장폐지일자_월', '상장폐지일자_일', '상장여부',
       '상장폐지여부', '업종(중분류)_missing', '주소지시군구_missing', '설립연수', '상장연수', '유동비율',
       '당좌비율', '현금비율', '부채비율', '자기자본비율', '차입금의존도', '단기차입금비율', '고정비율', '유보율',
       '매출총이익률', '영업이익률', '순이익률', 'ROA', 'ROE', '매출성장률', '이익성장률', '총자산회전율',
       '자본회전율'],
      dtype='object')

In [28]:
# 결측치가 있는 컬럼만 추출
missing_cols = test_df_added.columns[test_df_added.isnull().any()]

# 각 결측치 개수 계산
missing_counts = test_df_added[missing_cols].isnull().sum()

# 출력
print("기업 CB프레임 내 결측치가 존재하는 열:")
print(list(missing_cols))

print("\n각 열의 결측치 개수:")
print(missing_counts)

기업 CB프레임 내 결측치가 존재하는 열:
[]

각 열의 결측치 개수:
Series([], dtype: float64)

In [29]:
def encode_industry_region(df: pd.DataFrame) -> pd.DataFrame:
    """
    업종(중분류) 및 주소지시군구를 모델 입력용 코드로 변환.
    - Unknown은 항상 0으로 인코딩
    - 나머지는 1부터 시작
    - 이미 존재하는 *_missing 플래그는 그대로 유지
    """
    df = df.copy()

    # ────────────────────────────────
    # 업종(중분류)
    # ────────────────────────────────
    if "업종(중분류)" in df.columns:
        df["업종(중분류)"] = df["업종(중분류)"].fillna("Unknown").astype(str)
        # 대분류 추출
        df["업종대분류"] = df["업종(중분류)"].str[0].where(df["업종(중분류)"] != "Unknown", "Unknown")

        # 업종(중분류) 인코딩 (Unknown=0)
        cat_map = {cat: idx + 1 for idx, cat in enumerate(sorted(df["업종(중분류)"].dropna().unique())) if cat.lower() != "unknown"}
        df["업종(중분류)_code"] = df["업종(중분류)"].map(cat_map).fillna(0).astype(int)

        # 업종대분류 인코딩 (Unknown=0)
        cat_map_main = {cat: idx + 1 for idx, cat in enumerate(sorted(df["업종대분류"].dropna().unique())) if cat.lower() != "unknown"}
        df["업종대분류_code"] = df["업종대분류"].map(cat_map_main).fillna(0).astype(int)
        print("\n[업종대분류 인코딩 매핑 결과]")
        for k, v in cat_map_main.items():
            print(f"   '{k}'  →  {v}")
        print(f"   'Unknown'  →  0")

    # ────────────────────────────────
    # 주소지시군구
    # ────────────────────────────────
    if "주소지시군구" in df.columns:
        df["주소지시군구"] = df["주소지시군구"].fillna("Unknown").astype(str)

        # 시도코드 추출
        def extract_sido(x):
            try:
                x = str(int(float(x)))  # 11680.0 → "11680"
                return int(x[:2])       # "11"
            except:
                return 0

        df["시도코드"] = df["주소지시군구"].apply(extract_sido).astype(int)

        # 주소지시군구 인코딩 (Unknown=0)
        cat_map_region = {cat: idx + 1 for idx, cat in enumerate(sorted(df["주소지시군구"].dropna().unique())) if cat.lower() != "unknown"}
        df["주소지시군구_code"] = df["주소지시군구"].map(cat_map_region).fillna(0).astype(int)

        # 시도코드 인코딩 (Unknown=0)
        cat_map_sido = {code: idx + 1 for idx, code in enumerate(sorted(df["시도코드"].dropna().unique())) if code != 0}
        df["시도코드_code"] = df["시도코드"].map(cat_map_sido).fillna(0).astype(int)

        print("\n[시도코드 인코딩 매핑 결과]")
        for k, v in cat_map_sido.items():
            print(f"   {k}  →  {v}")
        print(f"   0 (Unknown)  →  0")

    return df

In [30]:
company_202108_encoded = encode_industry_region(company_202108_added)
test_df_encoded = encode_industry_region(test_df_added)

[업종대분류 인코딩 매핑 결과]
   'C'  →  1
   'D'  →  2
   'F'  →  3
   'G'  →  4
   'H'  →  5
   'I'  →  6
   'J'  →  7
   'L'  →  8
   'M'  →  9
   'N'  →  10
   'R'  →  11
   'Unknown'  →  0

[시도코드 인코딩 매핑 결과]
   11  →  2
   28  →  3
   29  →  4
   30  →  5
   31  →  6
   41  →  7
   44  →  8
   45  →  9
   47  →  10
   48  →  11
   0 (Unknown)  →  0

[업종대분류 인코딩 매핑 결과]
   'A'  →  1
   'B'  →  2
   'C'  →  3
   'D'  →  4
   'E'  →  5
   'F'  →  6
   'G'  →  7
   'H'  →  8
   'I'  →  9
   'J'  →  10
   'K'  →  11
   'L'  →  12
   'M'  →  13
   'N'  →  14
   'O'  →  15
   'P'  →  16
   'Q'  →  17
   'R'  →  18
   'S'  →  19
   'Unknown'  →  0

[시도코드 인코딩 매핑 결과]
   11  →  2
   26  →  3
   27  →  4
   28  →  5
   29  →  6
   30  →  7
   31  →  8
   36  →  9
   41  →  10
   43  →  11
   44  →  12
   45  →  13
   46  →  14
   47  →  15
   48  →  16
   50  →  17
   51  →  18
   0 (Unknown)  →  0

In [31]:
company_202108_encoded.head(1)

,기준년월,가명식별자,업종(중분류),외감구분,설립일자,상장일자,상장폐지일자,주소지시군구,유동자산,비유동자산,...,매출성장률,이익성장률,총자산회전율,자본회전율,업종대분류,업종(중분류)_code,업종대분류_code,시도코드,주소지시군구_code,시도코드_code
0,20210801,125539,D35,1,19610624,19890205,0,11680.0,18824052701,219366858158,...,2.881888,-477.581348,50.094775,108.687277,D,13,2,11,10,2

In [32]:
len(company_202108_encoded['주소지시군구'].unique())

31

In [33]:
len(company_202108_encoded['주소지시군구_code'].unique())

31

In [34]:
len(company_202108_encoded['업종대분류_code'].unique())

11

In [35]:
company_202108_encoded['신용등급'].unique()

array([4, 2, 5, 6, 7, 3, 1], dtype=int64)

In [36]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt
### 히트맵 시각화 라이브러리
### 파이썬에서 가장 기본적으로 사용하는 시각화 라이브러리
import matplotlib.pyplot as plt

### 히트맵 라이브러리
import seaborn as sns

### 한글처리(시각화 시 그래프 내에 한글이 포함되는 경우 한글 깨짐 현상 방지)
plt.rc("font", family="Malgun Gothic")

### 특수기호(마이너스 기호) 처리
plt.rcParams["axes.unicode_minus"] = False

In [37]:
# 숫자형 변수만 선택

num_cols = company_202108_encoded.select_dtypes(include=[np.number]).columns.tolist()

# 결측치 제거 / 0 채움
X = company_202108_encoded[num_cols].fillna(0)

# 스케일 표준화 (VIF 계산은 스케일 영향받음)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)


# VIF 계산

vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X_scaled, i) for i in range(X_scaled.shape[1])]

# 정렬
vif_data = vif_data.sort_values(by="VIF", ascending=False).reset_index(drop=True)
vif_data.head(20)

c:\Users\user\anaconda3\envs\busan_ai\lib\site-packages\statsmodels\regression\linear_model.py:1784: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.uncentered_tss
c:\Users\user\anaconda3\envs\busan_ai\lib\site-packages\statsmodels\stats\outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

         feature           VIF
0           상장일자           inf
1         상장일자_일           inf
2         상장일자_월           inf
3         상장일자_년  8.537507e+08
4           설립연수  7.383670e+08
5           상장연수  2.876692e+07
6          비유동자산  2.578685e+07
7           순이익률  1.495629e+07
8           당좌자산  8.228472e+06
9   법인세비용차감전 순이익  5.920202e+06
10        매출총이익률  5.665766e+06
11          재고자산  4.372647e+06
12         영업이익률  2.484777e+06
13        설립일자_월  1.256861e+06
14        설립일자_일  6.713122e+05
15           매출액  5.882529e+05
16          유동비율  5.349216e+05
17          매출원가  3.596413e+05
18          당좌비율  2.899106e+05
19          설립일자  2.691374e+05

In [38]:
"기준년월","가명식별자","업종대분류_code","시도코드_code","외감구분","상장여부","상장폐지여부","설립연수","상장연수",
"유동비율","당좌비율","현금비율","부채비율","자기자본비율","차입금의존도","단기차입금비율","고정비율",
"유보율","매출총이익률","영업이익률","순이익률","ROA","ROE","매출성장률","이익성장률","주소지시군구_missing","업종(중분류)_missing"

('유보율',
 '매출총이익률',
 '영업이익률',
 '순이익률',
 'ROA',
 'ROE',
 '매출성장률',
 '이익성장률',
 '주소지시군구_missing',
 '업종(중분류)_missing')

In [39]:
m3_core_features = ["기준년월","가명식별자","업종대분류_code","시도코드_code","외감구분","상장여부","상장폐지여부","설립연수","상장연수",
"유동비율","당좌비율","현금비율","부채비율","자기자본비율","차입금의존도","단기차입금비율","고정비율",
"유보율","매출총이익률","영업이익률","순이익률","ROA","ROE","매출성장률","이익성장률","주소지시군구_missing","업종(중분류)_missing"]

In [40]:
test_df_final = test_df_encoded[m3_core_features]
company_202108_final = company_202108_encoded[m3_core_features]

In [41]:
company_202108_final['설립연수']

0     60.0
1     60.0
2     55.0
3     20.0
4     54.0
      ...
95    57.0
96    70.0
97    26.0
98    27.0
99    22.0
Name: 설립연수, Length: 100, dtype: float64

In [42]:
test_df_final.to_csv("ML_03_기업CB_전처리최종.csv", index=False, encoding="utf-8-sig")